<!DOCTYPE html>
<html>
<head>
	<title>腾讯游戏道聚城-集道具聚欢乐</title>
</head>
<body>
	<div class="fr w950">
		<!--我的聚豆-->
		<!--个人信息-->
		<div class="comm_bd mb10 clearfix center_box">
			<div class="clearfix">
				<dl class="fl center_info coin_info">
					<dt><img id="face_img" alt="" src="picture/blank.png" /></dt>
					<dd>
						<p><strong id="login_qq_span_index"></strong>，欢迎你</p>
						<p><span class="fl">我的聚豆：<strong class="red" id="my_coin"></strong></span><i class="fl i_sp i_mycoin"></i></p>
					</dd>
				</dl>
			</div>
			<div class="comm_bd" id="blk_coin" data-onload="initCoin">
				<div class="clearfix center_tab" id="tab_coin">
					<a href="javascript:;" class="current" title="所有记录">所有记录</a>
					<a href="javascript:;" title="兑换记录">兑换记录</a>
					<!-- 
					<a href="javascript:;" title="获取记录">获取记录</a>
					<a href="javascript:;" title="使用记录">使用记录</a>
					<a href="javascript:;" title="过期记录">过期记录</a>
				-->
			</div>
			<div class="center_tbl">
				<div class="loading tbl_con"><span class="loadmsg">loading...</span></div> 
				<div class="page" id="page_wrapper" style="display:none"></div>
			</div>
			<div class="center_tbl" style="display:none;">
					<!-- <div class="loading"><span class="loadmsg">loading...</span></div>
					<div class="page" style="display:none"></div> -->
					<ul class="vat-hd c">
						<li class="od1">礼品</li>
						<li class="od2">礼品类型</li>
						<li class="od3">消耗聚豆</li>
						<li class="od4">日期</li>
						<li class="od5">状态</li>
					</ul>
					<ul class="vat-bd query_infomation" id="tmp_judou_record_list" id="judouPanel" data-onload="initJudouRecordList" data-title="聚豆商城">
					</ul>
					<div class="loading"><span class="loadmsg">loading...</span></div>
					<div class="page" id="page_wrapper" style="display:none"></div>
				</div>			
				<!-- 
				<div class="center_tbl" style="display:none;">
					<div class="loading"><span class="loadmsg">loading...</span></div>
					<div class="page" style="display:none"></div>
				</div>
				<div class="center_tbl" style="display:none;">
					<div class="loading"><span class="loadmsg">loading...</span></div>
					<div class="page" style="display:none"></div>
				</div>
				<div class="center_tbl" style="display:none;">
					<div class="loading"><span class="loadmsg">loading...</span></div>
					<div class="page" style="display:none"></div>
				</div>
			-->
		</div>
	</div>
	<!--猜你喜欢-->
	<div class="comm_bd favorite" id="favorite" data-onload="initFavorite" data-title="猜你喜欢">
		<div class="tt"><h6 class="fl">猜你喜欢</h6><a href="#" id="replaceFav" class="fr blue more">换一换&gt;&gt;</a></div>
		<div class="comm_bg clearfix">
			<div id="fav_wrapper" style="display:none;">
				<div class="loading" style="height:216px;"><span class="loadmsg">loading...</span></div>
			</div>
		</div>
	</div>
</div>
</body>
</html><!--[if !IE]>|xGv00|fd16489dec2ff5801ffa0af23ff05a94<![endif]-->