<!DOCTYPE html>
<html>
<head>
	<title>腾讯游戏道聚城-集道具聚欢乐</title>
</head>
<body>
	<div class="fr w950">
		<!--我的优惠券-->
		<div class="comm_bd mb10 clearfix center_box">
			<div class="center_tt">我的优惠券<span class="line"><s class="l_5"></s></span></div>
			<div class="comm_bd">
				<div id="tab_order" class="clearfix center_tab">
					<a class="current" href="javascript:;">道具优惠券</a>
					<!-- <a href="javascript:;">周边优惠券</a> -->
				</div>
			</div>
			<div id="tab_con">
				{if condition="($logined == 0)"} 
				<div class="default_con clearfix">
					<div class="pic"></div>
					<div class="txt">
						<p class="tt" style="padding-top:35px;">抱歉，获取信息失败，请先<a href="/reslog/login/login">登录</a>！</p>
					</div>
				</div>
				{else /}
				<div class="comm_bd coupon_tbl" style="border-top-style: none;">
					<div class="comm_bd clearfix mb20 choose_box" style="border-bottom-style: none;padding:10px 20px 10px 10px;margin-bottom:0px;">
						<div id="choose_game" class="mr20 choose_game fl" data-onload="initCoupon">
							<p class="fl">指向游戏：</p>
							<div class="fl" id="selectBorder">
								<div class="tt"><s class="i_sp"></s><span id="curBizName" class="curBizName">英雄联盟</span></a></div>
								<div class="choose_sub" id="game_list">
								</div>
							</div>
						</div>
						<div class="fl"><a class="comm_btn btn" title="查询" id="btn_query">查 询</a></div>
					</div>
					<table width="100%">
						<thead>
							<tr>
								<th width="120">游戏</th>
								<th width="120">优惠券折扣</th>
								<th width="120">获得时间</th>
								<th width="120">过期时间</th>
								<th width="120">使用状态</th>
							</tr>
						</thead>
						<tbody id="table_list">
							<tr>
								<td colspan="6">请合理使用优惠券优惠券</td>
							</tr>
						</tbody>
					</table>
					<div class="page" id="page_wrapper"></div>
				</div>
				{/if}
			</div>
			<script type="text/javascript">
			function getLocalTime(nS) {
				return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');
			}
			$('#btn_query').click(function(){
				$.post("{:url('/order/index/coupon1')}",{},function(data){
					var data = jQuery.parseJSON(data);
					$("#table_list").html('');
					for(i in data){
						$("#table_list").append("<tr><th width='120'>英雄联盟</th><th width='120'>"+data[i]['discount']+"</th><th width='120'>"+getLocalTime(data[i]['createtime'])+"</th><th width='120'>"+getLocalTime(data[i]['createtime']+3600*24*120)+"</th><th width='120'>使用状态</th></tr>");
					}  
				},'json');
			});
			</script>
			<p class="center_tip"><b class="red">优惠券说明：</b>对已过期的优惠券，我们将在每年1月份做一次清理。清理后您将无法再查询到已过期优惠券信息。 </p>
		</div>
		<!--猜你喜欢-->
		<div class="comm_bd favorite" id="favorite" data-onload="initFavorite" data-title="猜你喜欢">
			<div class="tt"><h6 class="fl">猜你喜欢</h6><a href="#" id="replaceFav" class="fr blue more">换一换&gt;&gt;</a></div>
			<div class="comm_bg clearfix">
				<div id="fav_wrapper" style="display:none;">
					<div class="loading" style="height:216px;"><span class="loadmsg">loading...</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>