<!DOCTYPE html>
<html>
<head>
	<title>腾讯游戏道聚城-集道具聚欢乐</title>
</head>
<body>
	<div class="fr w950">
		<!--我的信息-->
		<div class="comm_bd mb10 clearfix center_box" data-onload="initMsg">
			<div class="center_tt">我的消息<span class="line"><s class="l_4"></s></span></div>
			<div class="comm_bd">
				<div class="clearfix center_tab" id="at_tab">
					<a href="javascript:;" class="current" title="我的消息">我的消息</a>
					<a href="javascript:;" title="消息设置">消息设置</a>
				</div>
				<div id="at_con">
					<div class="msg_con">
						<div id="msg_tab" class="msg_tab">
							<a class="current" href="javascript:void(0)" attr_bigtype="0">全部</a>
							<a href="javascript:void(0)" attr_bigtype="2">订阅消息</a>
							<a href="javascript:void(0)" attr_bigtype="1">系统消息</a>
						</div>
						<div id="msg_list">
							<div class="loading"><span class="loadmsg">loading...</span></div>
						</div>
						<div class="page" id="msg_page" style="display:none;"></div>
					</div>
					<div class="msg_con center_tbl" style="display:none;">
						<div id="set_list">
							<div class="loading"><span class="loadmsg">loading...</span></div>
						</div>
						<div class="page" id="set_page" style="display:none;"></div>
					</div>
				</div>
			</div>
		</div>
		<!--猜你喜欢-->
		<div class="comm_bd favorite" id="favorite" data-onload="initFavorite" data-title="猜你喜欢">
			<div class="tt"><h6 class="fl">猜你喜欢</h6><a href="#" id="replaceFav" class="fr blue more">换一换&gt;&gt;</a></div>
			<div class="comm_bg clearfix">
				<div id="fav_wrapper" style="display:none;">
					<div class="loading" style="height:216px;"><span class="loadmsg">loading...</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="pop" id="pop_game" style="display:none;">
		<div class="black_bg"></div>
		<div class="pop_game">
			<div class="clearfix">
				<h6>请选择游戏</h6>
				<a title="关闭" id="close_game" class="i_sp close" href="javascript:;">关闭</a>
			</div>
			<div class="line"><s></s></div>
			<div class="show_game"></div>
			<div class="confirm clearfix">
				<a href="javascript:void(0)" class="comm_btn fr mid_btn ml10 save_biz">确认</a><p class="fr">（<span class="red">*</span> 最多选择3个游戏）</p>
			</div>
			<div class="choose_sub"></div>
		</div>
	</div>
</body>
</html>