<!DOCTYPE html>
<html>
<head>
	<title>腾讯游戏道聚城-集道具聚欢乐</title>
</head>
<body>
	<div class="fr w950">
		<!--我的周边订单-->
		<div class="comm_bd mb10 clearfix center_box" id="addressListCon">
			<div class="center_tt">
				<span class="fl related current">我的收货地址</span>
			</div>
			<div class="loading" style="display:none;"><span class="loadmsg">loading...</span></div>
		</div>
		<script type="text/html" id="addressListTmpl">
		<div class="center_tt">
		<span class="fl related current">我的收货地址</span>
		</div>
		</script>
	</div>
</div>
<!-- 填写地址 -->
<div class="act_pop" id="popupAddressCon" style="display:none;"></div>
<script id="tmpl_popup_pay_address_region" type="text/html">
<option value="">请选择</option>
</script>
</body>
</html>