<!DOCTYPE html>
<html>
<head>

    <title>腾讯游戏道聚城-集道具聚欢乐</title>

</head>
<body>

    <div class="fl w950" data-onload="initCenter">
        <!--个人信息-->
        <div id="userInfoCon" class="clearfix comm_bd mb10 center_info">
            <div class="loading" style="margin-bottom:10px;"><span class="loadmsg">loading...</span></div>
        </div>
        <!--我的特权--start-->
        <div class="usertask" data-onload="initPrivilage">
            <div class="mb10 clearfix center_box">
                <div class="center_tt">
                    我的特权
                    <span class="line"><s class="l_5"></s></span><!--<i class="fr pro_help"></i>-->
                    <a href="http://xinyue.qq.com/act/pc/a20160530xydjc/index.html?ADTAG=xinyue.daoju.personal" target="_blank" class="link-xinyue">心悦游戏家</a>
                </div>
                <!-- 消费特权 -->
                <div class="comm_bd">                    
                    <div class="clearfix center_tab" id="at_tab">
                        <a href="javascript:;" class="current" title="消费特权">消费特权</a>
                    </div>
                    <div id="costCon" class="specialbox"></div>

                </div>

                <!-- 成长特礼 -->
                <div class="comm_bd mart20">                    
                    <div class="clearfix center_tab" id="at_tab">
                        <a href="javascript:;" class="current" title="成长特礼">成长特权</a>
                    </div>
                    <div id="growthCon" class="specialbox"></div>
                </div>
            </div>
        </div>
        <!--我的特权--end-->
    </div>

</body>
</html>