<!DOCTYPE html>
<html>
<head>
	<title>腾讯游戏道聚城-集道具聚欢乐</title>
</head>
<body>
	<div class="fr w950">
		<!--我的订单-->
		<div class="comm_bd mb10 clearfix center_box">
			<div class="center_tt">我的票务<span class="line"><s class="l_4"></s></span></div>
			<div class="comm_bd clearfix mb20 choose_box">
				<div id="choose_game" class="mr20 choose_game fl" data-onload="initOrder">
					<p class="fl">选择游戏：</p>
					<div class="box fl" id="selectBorder">
						<div class="tt"><s class="i_sp"></s><span id="curBizName" class="curBizName" key="" value="">请选择</span></div>
						<div class="choose_sub" id="game_list" key="" value="">
							<dl>
								<dd style="margin-left:10px;width:130px;" class="clearfix">
									<a href="#" biz="mgc">梦工厂</a><i>|</i><a biz="roco" href="#">洛克王国</a>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="fl"><a href="#" class="comm_btn btn" title="查询" id="btn_query">查 询</a></div>
			</div>
			<div class="comm_bd">
				<div id="tab_order" class="clearfix center_tab">
					<a class="current" href="javascript:;" id="new_tab_order">1个月内订单</a>
					<a href="javascript:;" id="old_tab_order">历史订单</a>
				</div>
				<div id="con_order" class="comm_bd center_tbl fixed_tbl">
					<table width="100%">
						<thead>
							<tr>
								<th width="100">游戏</th>
								<th width="150">门票内容</th>
								<th width="50">数量</th>
								<th width="80">支付价格</th>
								<th width="100">支付时间</th>
								<th width="100">状态</th>
								<th width="80">操作</th>
							</tr>
						</thead>
						<tbody id="new_order_list">
							<tr>
								<td colspan="10">
									请选择业务，查询订单信息
								</td>
							</tr>
						</tbody>
						<tbody id="old_order_list" style="display:none;">
							<tr>
								<td colspan="10">
									请选择业务，查询订单信息
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="bottom_order">
					<div class="page" id="new_page_wrapper"></div>
					<div class="page" id="old_page_wrapper" style="display:none;"></div>
				</div>
				<p class="center_tip"><b class="red">温馨提示：</b><br/>1、购买成功后系统会自动发货，如发货失败24小时内会自动补发！<br/>2、如果网银重复付款或付款后订单取消，道具未到账，网银退款将在15个工作日内到账。</p>
			</div>
		</div>
	</div>
</div>
</body>
</html><!--[if !IE]>|xGv00|c89a95ee82c8b87e619099fc27e51004<![endif]-->