<!DOCTYPE html>
<html>
<head>
	<title>腾讯游戏道聚城-集道具聚欢乐</title>
</head>
<body>
	<div class="fl w950" data-onload="initCenter">
		<!-- 我的任务 -->
		<div class="usertask">
			<div class="mb10 clearfix center_box">
				<div class="center_tt">我的任务<span class="line"><s class="l_5"></s></span></div>
				<div class="comm_bd tab_task">
					<a id="btn_task_uncomplete" href="javascript:;" class="p_task_spr p_task_not_over">未完成任务</a>
					<div id="blk_task_tab" class="clearfix center_tab">
					</div>
					{if condition="($logined == 0)"} 
					<div class="default_con clearfix">
						<div class="pic"></div>
						<div class="txt">
							<p class="tt" style="padding-top:35px;">抱歉，获取信息失败，请先<a href="/reslog/login/login">登录</a>！</p>
						</div>
					</div>
					{else /}
					<div class="default_con clearfix" style="width:300px;">
						<div class="pic"></div>
						<div class="txt" style="margin-left:0px;padding-top:10px;">
							<p class="tt">抱歉，暂无任何任务信息！</p>
							<p>您可以：</p>
							<p>进入道聚城首页更多折扣道具等着你，<a href="http://daoju.qq.com/mall" target="_blank" class="blue">立即前往&gt;</a></p>
						</div>
					</div>
					{/if}
				</div>
			</div>
		</div>
	</div>
	<div class="myTask_mask" id="mask_popup" style="width: 100%;height: 100%;z-index: 999;position: fixed; top: 0; left: 0;background: #000;opacity: .6;filter: alpha(opacity=60);display: none;"></div>
	<div id="blk_popup" style="display: none; visibility: visible; position: fixed; z-index: 1000; left: 50%; top: 35%; margin-top: -165px; margin-left: -255px;" role="dialog" tabindex="-1"></div>
</body>
</html>