<!DOCTYPE html>
<html>
<head>
	<title>腾讯游戏道聚城-集道具聚欢乐</title>
</head>
<body>
	<div class="fr w950">
		<!--我的购物点-->
		<div class="comm_bd mb10 clearfix center_box">
			<div class="center_tt">我的购物点<span class="line"><s class="l_5"></s></span></div>
			<div class="comm_bd clearfix mb20 choose_box">
				<div id="choose_game" class="mr20 choose_game fl" data-onload="initTicket">
					<p class="fl">选择游戏：</p>
					<div class="box fl" id="selectBorder">
						<div class="tt"><s class="i_sp"></s><span id="curBizName" class="curBizName">选择游戏</span></a></div>
						<div class="choose_sub" id="game_list">
						</div>
					</div>
				</div>
				<div class="fl clearfix choose_time mr10">
					<p class="fl">查询时间：</p>
					<div class="fl mr10"><input type="text" name="date1" class="date datepicker" id="start_date" value="" />至<input type="text" name="date1" class="date datepicker" id="end_date" value="" /></div>
				</div>
				<div class="fl"><a href="#" class="comm_btn btn" title="查询" id="btn_query" >查 询</a></div>
			</div>
			<div class="comm_bd coupon_tbl">
				<table width="100%">
					<thead>
						<tr>
							<th width="180">日期</th>
							<th width="150">购物点金额</th>
							<th width="150">方式</th>
							<th width="150">余额</th>
							<th>详细说明</th>
						</tr>
					</thead>
					<tbody id="table_list" >
						<tr>
							<td colspan="5">请选择游戏，查询购物点</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page" id="page_wrapper"></div>
			<p class="center_tip"><b class="red">温馨提示：</b>购物点会在每月1号零点清零，请及时使用！</p>
		</div>
		<!--猜你喜欢-->
		<div class="comm_bd favorite" id="favorite" data-onload="initFavorite" data-title="猜你喜欢">
			<div class="tt"><h6 class="fl">猜你喜欢</h6><a href="#" id="replaceFav" class="fr blue more">换一换&gt;&gt;</a></div>
			<div class="comm_bg clearfix">
				<div id="fav_wrapper" style="display:none;">
					<div class="loading" style="height:216px;"><span class="loadmsg">loading...</span></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>