<!DOCTYPE html>
<html>
<head>
  <title>腾讯游戏道聚城-集道具聚欢乐</title>
  <!-- <link href="css/datepicker.css" rel="stylesheet" type="text/css" /> -->
</head>
<body>
	<div class="fr w950">
   <!--我的订单-->
   <div class="comm_bd mb10 clearfix center_box">
     <div class="center_tt">我的订单<span class="line"><s class="l_4"></s></span></div>
     {if condition="($logined == 0)"} 
     <div class="default_con clearfix">
      <div class="pic"></div>
      <div class="txt">
       <p class="tt" style="padding-top:35px;">抱歉，获取信息失败，请先<a href="/reslog/login/login">登录</a>！</p>
     </div>
   </div>
   {else /}
   <div class="comm_bd clearfix mb20 choose_box">
    <div id="choose_game" class="mr20 choose_game fl" data-onload="initOrder">
      <p class="fl">指向游戏：</p>
      <div class="box fl" id="selectBorder">
        <div class="tt"><s class="i_sp"></s><span id="curBizName" class="curBizName" biz="">英雄联盟</span></div>
      </div>
    </div>
    <div id="choose_game" class="mr20 choose_game fl">
      <p class="fl">购买渠道：</p>
      <div class="box fl" id="selectChannel">
        <div class="tt">
          <s class="i_sp"></s>
          <span id="curChannel" class="curBizName">全部</span>
        </div>  
        <div class="choose_ul" id="channelList"> 
          <ul>
            <li appid="1000" class="lilcl"><a>全部</a></li>
            <li appid="1001" class="lilcl"><a>积分</a></li>
            <li appid="1002" class="lilcl"><a>购物点</a></li>
          </ul>
        </div>                                             
      </div>
    </div>
    <div class="fl"><a class="comm_btn btn" title="查询" id="btn_query">查 询</a></div>
  </div>
  <div class="comm_bd">
    <div id="tab_order" class="clearfix center_tab">
     <a class="current" href="javascript:;" id="tab_new_order">30天内订单</a>
     <a href="javascript:;" id="tab_old_order">历史订单</a>
   </div>
   <script type="text/javascript">
   $("#tab_order > a").click(function(){
    $("#tab_order > a").removeClass("current");
    $(this).addClass("current");
  })
   </script>
   <div id="con_order" class="comm_bd center_tbl fixed_tbl">
     <table width="100%">
      <thead>
       <tr>
        <th width="150">游戏</th>
        <th width="260">订单物品</th>
        <th width="100">原价</th>
        <th width="160">实付款</th>
        <th width="150">
          <div class="box" id="selectStatus">
            <div class="tt">
              <s class="i_sp"></s>
              <span id="curStatus" class="curBizName">订单状态</span>
            </div>                                               
          </div>
        </th>
        <th width="120"></th>
      </tr> 
    </thead>
    <tbody id="new_order_list">
     <tr>
      <td colspan="10">
       请选择业务，查询订单信息?
     </td>
   </tr>
 </tbody>
 <tbody id="old_order_list" style="display:none;">
   <tr>
    <td colspan="10">
     请选择业务，查询订单信息
   </td>
 </tr>
</tbody>
</table>
</div>
<div id="bottom_order">
 <div class="page" id="new_page_wrapper"></div>
 <div class="page" id="old_page_wrapper" style="display:none;"></div>
</div>

<script type="text/javascript">
var app = '1000';
$(".tt").click(function(){
  $('#channelList').toggle();
});
$(".lilcl").click(function(){
  $("#curChannel").text($(this).text());
  $('#channelList').toggle();
  app = $(this).attr('appid');
});
$('#btn_query').click(function(){
  $.post("{:url('/order/index/trade1')}",{appid:app},function(data){
   var data = jQuery.parseJSON(data);
   $("#new_order_list").html('');
   for(i in data){
    $("#new_order_list").append("<tr><th width='150'>英雄联盟</th><th width='260'>"+data[i]['name']+"</th><th width='100'>"+data[i]['real_price']+"</th><th width='160'>"+data[i]['price']+"</th><th width='150'><div class='box'><div class='tt'><s class='i_sp'></s><span class='curBizName'>已发货</span></div></div></th><th width='120'><a href>继续购买</a></th></tr>");
  }  
},'json');
});
</script>
<p class="center_tip"><b class="red">温馨提示：</b><br/>1、购买成功后系统会自动发货，如发货失败24小时内会自动补发！<br/>2、如果网银重复付款或付款后订单取消，道具未到账，网银退款将在15个工作日内到账。</p>
</div>
{/if}
</div>
<!--猜你喜欢-->
<div class="comm_bd favorite" id="favorite" data-onload="initFavorite" data-title="猜你喜欢">
 <div class="tt"><h6 class="fl">猜你喜欢</h6><a href="#" id="replaceFav" class="fr blue more">换一换&gt;&gt;</a></div>
 <div class="comm_bg clearfix">
  <div id="fav_wrapper" style="display:none;">
   <div class="loading" style="height:216px;"><span class="loadmsg">loading...</span></div>
 </div>
</div>
<script type="text/html" id="fav_li">
<dl pos="${pos}">
<dt><a href="/${sPdName}/item/${iSeqId}.shtml?ADTAG=media.free.recommend.${sPdName.toUpperCase()}&algorithm=${algorithm}" target="_blank">
<img src="picture/c5317d4d4b8c4e4ca24b8c656028db59.gif"/></a></dt>
<dd>
<p><a href="/${sPdName}/item/${iSeqId}.shtml?ADTAG=media.free.recommend.${sPdName.toUpperCase()}&algorithm=${algorithm}" target="_blank"><b>[${bizName}]</b>${sGoodsName}</a></p>
<p class="red">商城价：<b>${iPrice} QB</b></p>
</dd>
</dl>
</script>
</div>
</div>
</body>
</html>